<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>payment thuanowa</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="transfer monney to thuan pham aka thuanowa, support, donate, paypal, timo bank, buy the coffee for thuan"
    />
    <style>
      html {
        font-size: 1rem;
        font-family: "JetBrains Mono", monospace;
        display: grid;
        place-content: center;
      }

      html {
        color: #000000;
        background: #ffffff;
      }

      a:link {
        color: #000000;
      }

      a:hover {
        color: #000000;
      }

      a:visited {
        color: #000000;
      }
    </style></head
  >

  <body>
    <h1>Pay me</h1>
    <q>Why? -&gt; Because you are beautiful</q>
    <h2>Paypal</h2>
    <a target="_blank" rel="noopener" href="https://paypal.me/thuanowa"
      >paypal.me/thuanowa</a
    >
    <h2>Bank</h2>
    <h3>Domestis (Vietnam)</h3>
    <ul>
      <li>Account number: 9017041176921</li>
      <li>Account name: Pham Tan Thuan</li>
      <li>Bank name: Viet Capital Bank Ngân hàng TMCP Bản Việt</li>
      <li>Branch: Hồ Chí Minh</li>
      <li>City/ Province: Hồ Chí Minh</li>
    </ul>
    <h3>Oversea</h3>
    <ul>
      <li>Account number: 9017041176921</li>
      <li>Account name: Pham Tan Thuan</li>
      <li>Bank name: VIET CAPITAL COMMERCIAL JOINT STOCK BANK</li>
      <li>
        Bank Address: 412 Nguyen Thi Minh Khai Street, Ward 5, District 3, Ho
        Chi Minh City, Vietnam
      </li>
      <li>SWIFT code: VCBCVNVX</li>
    </ul>
  </body>
</html>
