<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>payment thuanowa</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="transfer monney to thuan pham aka thuanowa, support, donate, paypal, timo bank, buy the coffee for thuan"
    />
    <style>
      html {
        font-size: 1rem;
        font-family: "JetBrains Mono", monospace;

        display: grid;
        place-content: center;
      }

      p {
        max-width: 40rem;
      }

      .left {
        text-align: right;
      }

      html {
        color: #000000;
        background: #ffffff;
      }

      a:link {
        color: #000000;
      }

      a:hover {
        color: #000000;
      }

      a:visited {
        color: #000000;
      }
    </style></head
  >

  <body>
    <h1>Last will, di chúc</h1>
    <p>
      Tài sản, nếu những người hàng thừa kế thứ nhất không cần tài sản của tôi
      hoặc không có người hàng thừa kế thứ nhất thì tôi sẽ quyên góp toàn bộ tài
      sản của bản thân cho quỹ phát triển tài năng việt (see <a
        href="https://quyphattrientainangviet.vn/en"
        >Viet Talent Development Fund</a
      >)
    </p>
    <p>
      Khi tui chết nếu còn lại xác thì sẽ thiêu đốt thành tro, rải tro tui làm
      phân bón hữu cơ hay đổ vô bồn cầu vặn nước cái một cũng được, không cần
      cúng khiến đám ma, đám giỗ.
    </p>
    <p>
      Trường hợp tôi bị giết, bị tai nạn giao thông tất cả trường hợp người khác
      kết thúc mạng sống của tui dù vô tình hay cố ý điều được tôi chấp nhận,
      không cần truy cứu về trách nhiệm về luật pháp, về trường hợp tôi là bảo
      trợ tài chính cho một ai đó thì có thể yêu cầu trách nhiệm về phần tài
      chính.
    </p>
    <p class="left">Thuan Pham (thuanowa, Phạm Tấn Thuận)</p>
  </body>
</html>
